<.header>
  New Recipe
  <:subtitle>Create a new recipe to add to your cookbook.</:subtitle>
</.header>

<.recipe_form changeset={@changeset} action={~p"/recipes"} />

<.back navigate={~p"/recipes"}>Back to recipes</.back>
